{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Liste
{% endblock %}

{% block body %}

    <p>Les articles du blog : </p>


    {% for pokemon in pokemons %}

        {% if pokemon.isPublished %}
            <p>{{ pokemon.title }}</p>
            <p>Description : {{ pokemon.content }}</p>
        {% endif %}

    {% endfor %}

{% endblock %}
