{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Liste
{% endblock %}

{% block body %}

    <p>Les pokes de la db : </p>

    <section class="pokemon-list">

        {% for pokemon in pokemons %}


                <article class="pokemon">
                    <div class="pokemon-center">
                        <p>{{ pokemon.title }}</p>
                        <img src="{{ pokemon.image }}" alt="{{ pokemon.title }}" />
                    </div>

                </article>


        {% endfor %}

    </section>

{% endblock %}
