{% extends 'base.html.twig' %}

{% block metatitle %}
    Pokemon : Liste
{% endblock %}

{% block body %}

    <p>Les pokes de la db : </p>

    <section class="pokemon-list">

        {% for pokemon in pokemons %}

                <article class="pokemon">
                    <div class="pokemon-center">
                        <p>{{ pokemon.title }}</p>
                        <a href="{{ path('pokemon_by_id_db', {id: pokemon.id}) }}">Voir le pokemon</a>
                        <a href="{{ path('delete_pokemon', {id: pokemon.id}) }}">Supprimer le pokemon</a>

                    </div>

                </article>

        {% endfor %}

    </section>

{% endblock %}
